<%- include('../partials/header'); -%>

<div class="row" style="display: flex; flex-wrap: wrap;">
<div class = "col-sm-9">
   <h4><b>Spiral Traversal of a matrix</b></h4>
   <h5>Problem Description:-Given a input matrix, and number of rows and columns in it, write a program to print it in the spiral traversal order.</h5> 
    <h5>Example:-</h5>
    <h5>INPUT: r=3, c=3 </h5>
    <h5>matrix[][] =   [{1,2,3},
                        {4,5,6},
                        {7,8,9}] </h5>
    <h5>OUTPUT: 1 2 3 6 9 8 7 4 5</h5>
    <h4>Solution:-</h4>
   <h5></h5>
   <h5>Time Complexity:- O(n) where n = r*c</h5> 
   <h4>code:-</h4>
   <script src="https://gist.github.com/Tech-Interviewing/21d241aae3ecb01e33031a350db1b82e.js"></script>
 </div>
</div> 

 <%- include('../partials/footer'); -%>