<%- include('../partials/header'); -%>

<div class="row" style="display: flex; flex-wrap: wrap;">
<div class = "col-sm-9">
   <h4><b>multiply two square matrices</b></h4>
   <h5>Problem Description:-Given two input square matrix, create a new square matrix which is equal to the multiplication of the input matrices</h5> 
    <h5>Example:-</h5>
    <h5>INPUT:</h5>
    <h5>m1[][] =   [{12,8,4},{3,17,14},{9,8,10}] , m2[][] = [{5,19,3},{6,15,9},{7,8,16}] </h5>
    <h5>OUTPUT: [{136,380,172},
                 {215,424,386},
                 {163,371,259}]</h5>
    
   <h5>Time Complexity:- O(n^3) where n = number of elements in a row or column of the square matrix</h5> 
   <h4>code:-</h4>
   <script src="https://gist.github.com/Tech-Interviewing/fe871d96341885f7563bf5f44455c02a.js"></script>
 </div>
</div> 

 <%- include('../partials/footer'); -%>