


<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">

     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>

 <footer>
   <div class = "container">
   <div class="content">
     <div class="left box">
       <div class="upper">
         <div class="topic">About us</div>
         <p>We help you land your dream job in great tech companies throughout the world, We do so by getting you interviewed by experts who have already cracked the code and worked for great tech companies,  </p>
       </div>
       <br>
         
          <div class="media-icons">
            <a href="#"><i class="fab fa-telegram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>  
       </div>
     </div>
     <div class="middle box">
      <div class="topic">BLOGS</div>
      <div><a href="/articles/topfive_array">Top 5 Interview questions on arrays</a></div>
      <div><a href="#">Web UX Design, Reasearch</a></div>
      <div><a href="#">Web User Interface Design</a></div>
      <div><a href="#">Theme Development, Design</a></div>
      <div><a href="#">Mobile Application Design</a></div>
      <div><a href="#">Wire raming & Prototyping</a></div>
      </div>
      <div class="right box">
        <div class="topic">Get an interview</div>
        <div><a href="#">Get an Interview with experts who have already worked for tech Companies like google, amazon, meta etc </a></div>
        <div><a href="#">Web UX Design, Reasearch</a></div>
        
      </div>
     </div>
   </div>
   
  </div>
 </footer>


</html>




<style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}

footer{
  width: 100%;
  position: relative;
  bottom: 0px;
  left: 0px;
  /* background: #111; */
  background-color: #0b0516;
}

/* footer { 
   
   position: relative;
   bottom: 0%;
   
   height: 300px;
   margin-top: -200px;
} */

footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* footer .content p,a{
  color: #fff;
} */
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
   color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
  color: #fff;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  /* color: #d9d9d9; */
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}

.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{
  font-size: 35px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 10px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  text-align: right;
  /* color: #d9d9d9; */
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #eb2f06;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}

</style>