<%- include('./partials/header'); -%>

<h1>blogs</h1>

<div class="card">
  <div class="row" style="display: flex; flex-wrap: wrap;">
      <div class="col-sm-9">    
            <a href="/articles/topfive_array"><h3>Top 5 Interview questions on arrays</h3></a>        
     </div>
  </div>
</div>  

  <div class="row" style="display: flex; flex-wrap: wrap;"> 
     <div class="col-sm-9"> 
          <a href="/articles/topfive_strings"><h3>Top 5 Interview questions on strings</h3></a>         
      </div> 
    </div>

    <div class="row" style="display: flex; flex-wrap: wrap;"> 
      <div class="col-sm-9"> 
           <a href="/articles/topfive_matrix"><h3>Top 5 Interview questions on matrix</h3></a>         
       </div> 
     </div>  

     <div class="row" style="display: flex; flex-wrap: wrap;"> 
      <div class="col-sm-9"> 
           <a href="/articles/topfive_strings_2"><h3>Top 5 Interview questions on strings(Part-2)</h3></a>         
       </div> 
     </div>


<%- include('./partials/footer'); -%>