<%- include('../partials/header'); -%>

<div class="row" style="display: flex; flex-wrap: wrap;">
<div class = "col-sm-9">
   <h4><b>Reverse The Array</b></h4>
   <h5>Problem Description:-Given an integer Array of size n, Output the Reversed version of that array.</h5> 
   <h5>Example:-</h5>
   <h5>INPUT: arr = [1,2,3,1,4]</h5>
   <h5>OUTPUT: arr = [5,4,3,2,1]</h5>
   <h4>Solution:-</h4>
   <h5>If we exchange the first element and the last element of the input array and continue the process for the second element and the second last element and similarly we do it for the first (n/2) numbers then we will get the reversed array.</h5>
   <h5>Time Complexity:- O(n)</h5> 
   <h4>code:-</h4>
   <script src="https://gist.github.com/Tech-Interviewing/c350b20625873db64f9bd4b04d95eed3.js"></script>
 </div>
</div> 

 <%- include('../partials/footer'); -%>