<%- include('../partials/header'); -%>


<div class="row" style="display: flex; flex-wrap: wrap;"> 
   
   <div class = "col-sm-9">
    <h4><b>1)Check if the given string is rotation of another</b></h4>
    <h5>Problem Description:-Given a two input strings(str1, str2), check if str2 is a rotation of str1. </h5> 
    <a href ="../strings/string6" target="_blank" class = "btn btn-primary"> Read More </a>

   
  <h4><b>2)Minimum characters to be added at front to make string palindrome</b></h4>
  <h5>Problem Description:-Given a string, find the number of characters to be added in front of it to make it a palindrome.</h5> 
  <a href ="../strings/string7" target="_blank" class = "btn btn-primary"> Read More </a>  
 

 <h4><b>3)Minimum number of swaps for bracket balancing.</b></h4>
  <h5>Problem Description:-Given a string, with 2n characters and there are n '[' opening square brackets and n ']' closing square brackets, you have to tell how many swap operations are required so that the brackets prent in the string becomes balanced.</h5> 
  <a href ="../strings/string8" target="_blank" class = "btn btn-primary"> Read More </a> 

  <h4><b>4)Rearanaging the adjacent duplicate characters</b></h4>
  <h5>Problem Description:-write a program to tell wheather it is possible to rearrange the adjacent duplicate characters such that there are no more adjacent duplicate characters.</h5> 
  <a href ="../strings/string9" target="_blank" class = "btn btn-primary"> Read More </a> 

  <h4><b>5)Rearanage the adjacent duplicates</b></h4>
  <h5>Problem Description:-write a program to rearrange the adjacent duplicate characters such that there are no more adjacent duplicate characters, if it is not possible then return an empty string i.e "".</h5> 
  <a href ="../strings/string10" target="_blank" class = "btn btn-primary"> Read More </a> 

</div>
</div>

<br>


<%- include('../partials/footer'); -%>