
<%- include('../partials/header'); -%>

<title>Top Five</title>

<div class="row" style="display: flex; flex-wrap: wrap;"> 
 
   <div class = "col-sm-9">
    <h4><b>1)spiral traversal of a matrix</b></h4>
    <h5>Problem Description:-Given an integer Array of size n, Output the Reversed version of that array.</h5> 
    <a href ="../matrix/matrix1" target="_blank" class = "btn btn-primary"> Read More </a>
 
   <br>

  <h4><b>2)rotate matrix by 90 degrees.</b></h4>
  <h5>Problem Description:-Given a input square matrix, rotate the matrix by 90 degrees.</h5> 
  <a href ="../matrix/matrix2" target="_blank" class = "btn btn-primary"> Read More </a>  
 </div>
  
 
   <div class = "col-sm-9">
    <h4><b>3)rotate matrix by 180 degrees.</b></h4>
    <h5>Problem Description:-Given a input square matrix, rotate the matrix by 180 degrees.</h5> 
    <a href ="../matrix/matrix3" target="_blank" class = "btn btn-primary"> Read More </a>
   </div>

   <div class = "col-sm-9">
      <h4><b>4)multiply two square matrices</b></h4>
      <h5>Problem Description:-Given two input square matrix, create a new square matrix which is equal to the multiplication of the input matrices.</h5> 
      <a href ="../matrix/matrix4" target="_blank" class = "btn btn-primary"> Read More </a>
   </div>

   <div class = "col-sm-9">
      <h4><b>5)Search in a sorted matrix</b></h4>
      <h5>Problem Description:- Given a input square matrix, which is sorted row wise and the first element of the next row is always greater then the last element of the previous row.</h5> 
      <a href ="../matrix/matrix5" target="_blank" class = "btn btn-primary"> Read More </a>
   </div>

</div>

<br>


<%- include('../partials/footer'); -%>