
<%- include('../partials/header'); -%>

<title>Top Five</title>

<div class="row" style="display: flex; flex-wrap: wrap;"> 
 
   <div class = "col-sm-9">
    <h4><b>1)Reverse The Array</b></h4>
    <h5>Problem Description:-Given an integer Array of size n, Output the Reversed version of that array.</h5> 
    <a href ="../array/array1" target="_blank" class = "btn btn-primary"> Read More </a>
 
   <br>

  <h4><b>2)Negative numbers to the left and Positives to right</b></h4>
  <h5>Problem Description:-Given an array containing both possitive and negative numbers, Move all negative numbers to beginning and positive to end with constant extra space. </h5> 
  <a href ="../array/array2" target="_blank" class = "btn btn-primary"> Read More </a>  
 </div>
  
 
   <div class = "col-sm-9">
    <h4><b>3)Largest Sum of a Contigous subarray</b></h4>
    <h5>Problem Description:-Given an array containing n integers, Find the largest sum that can be made by adding elements of its contigous subarrays. </h5> 
    <a href ="../array/array3" target="_blank" class = "btn btn-primary"> Read More </a>
   </div>

   <div class = "col-sm-9">
      <h4><b>4)Find the Duplicate Number In an Array of n+1 numbers</b></h4>
      <h5>Problem Description:-Given an array containing n+1 integers, all integers in the array are in the range of [1,n] and there is only one duplicate integer. you have to return that duplicate integer. </h5> 
      <a href ="../array/array4" target="_blank" class = "btn btn-primary"> Read More </a>
   </div>

   <div class = "col-sm-9">
      <h4><b>5)Best Time to Buy and Sell a Stock</b></h4>
      <h5>Problem Description:-You are given an array named Prices, Prices[i] is the price of a certain stock on the ith day, and prices[i] is an array of prices.
         You aim to maximise your profit by buying one stock on a certain day and selling it on a different day in the future.  
         Return the highest possible profit from this transaction. Return 0 if you are unable to make a profit. </h5> 
      <a href ="../array/array5" target="_blank" class = "btn btn-primary"> Read More </a>
   </div>

</div>

<br>


<%- include('../partials/footer'); -%>