<%- include('../partials/header'); -%>

<div class="row" style="display: flex; flex-wrap: wrap;">
<div class = "col-sm-9">
   <h4><b>Check if the given string is rotation of another</b></h4>
   <h5>Problem Description:-Given a two input strings(str1, str2), check if str2 is a rotation of str1.</h5> 
    <h5>Example:-</h5>
    <h5>INPUT: str = "hello","llohe"</h5>
    <h5>OUTPUT: true </h5>
    <h4>Solution:-If we concatinate str1 and str1 then if we are able to find str2 inside this new concatinated string it means str2 is a rotation of str1 else it is not. </h4>
   <h5></h5>
   <h5>Time Complexity:- O(n) , where n is the size of str1</h5> 
   <h4>code:-</h4>
   <script src="https://gist.github.com/Tech-Interviewing/283f6f1f017e078c1b120822ca60269b.js"></script>
 </div>
</div> 

 <%- include('../partials/footer'); -%>