<%- include('../partials/header'); -%>

<div class="row" style="display: flex; flex-wrap: wrap;">
<div class = "col-sm-9">
   <h4><b>Check if a string is palindrome or not</b></h4>
   <h5>Problem Description:-Check if a string is palindrome or not, if it is a palindrome then return true else return false</h5> 
    <h5>Example:-</h5>
    <h5>INPUT: str = "tenet"</h5>
    <h5>OUTPUT: "true"</h5>
    <h4>Solution:-We Keep on matching the characters of the given string from the both the corners untill we reach the middle or we find a mismatch, if we find a mismatch then we return false.  </h4>
   <h5></h5>
   <h5>Time Complexity:- O(n)</h5> 
   <h4>code:-</h4>
   <script src="https://gist.github.com/Tech-Interviewing/ff91d855c99298721fe6de95bf08e5b7.js"></script>
 </div>
</div> 

 <%- include('../partials/footer'); -%>