 <%- include('../partials/header'); -%>

<div class="row" style="display: flex; flex-wrap: wrap;">
<div class = "col-sm-9">
   <h4><b>Minimum characters to be added at front to make string palindrome.</b></h4>
   <h5>Problem Description:- Given a string, find the number of characters to be added in front of it to make it a palindrome.</h5> 
    <h5>Example:-</h5>
    <h5>INPUT: str = "abacd"</h5>
    <h5>OUTPUT: 2 </h5>
    <h4>Solution:- We will be using the fact that the number of character to be added in front to make the string a palindrome is equal to the number of characters to be removed from the end for making the string a palindrome. </h4>
   <h5></h5>
   <h5>Time Complexity:- O(n^2) , where n = |str|</h5> 
   <h4>code:-</h4>
   <script src="https://gist.github.com/Tech-Interviewing/c2d59c9cd0559d932b6a4d1b20b0738c.js"></script>
 </div>
</div> 

 <%- include('../partials/footer'); -%>